@import "normalize";
@import "global";
@import "typography";

/* components */

@import "main-registers";
@import "components/subroutine-stack";
@import "sub-registers";

.main-registers {
  display: inline-block;
  width: 46%;
  box-sizing: border-box;
  margin: 10px 2%;
}

.sub-registers, .subroutine-stack {
  display: inline-block;
  width: 21%;
  box-sizing: border-box;
  margin: 10px 2%;
}