@import "components/address-register";
@import "components/sound-timer";
@import "components/delay-timer";

.address-register {
  display: inline-block;
  width: 46%;
  box-sizing: border-box;
  margin: 10px 2%;
}

.sound-timer, .delay-timer {
  display: inline-block;
  width: 21%;
  box-sizing: border-box;
  margin: 10px 2%;
}